html {
	font-size: 100%;
}




.deck-screen-left, .left {
	float: left;
	width: 50%;
}

.deck-screen-right, .right {
	float: right;
	width: 50%;
}

.clear {
	clear: both;
}




.window {
	width: 65rem;
	height: 45rem;
	margin: auto auto;
	border: 1px solid #ababab;
	border-radius: 0.3rem;
	overflow-y: auto;
}

.window-title-bar {
	height: 1.3rem;
	background: #dedede;
}

.window-title {
	font-size: 1rem;
	padding-left: 0.5rem;
	display: inline-block;
	vertical-align: middle;
	line-height: 1rem;
}

.window-controls {
	display: inline-block;
	float: right;
}

.window-min, .window-max, .window-close {
	border: 1px solid #ababab;
	width: 1rem;
	height: 1rem;
	display: inline-block;
	border-radius: 100%;
	text-align: center;
	color: #000;
}

.window-min:hover, .window-max:hover, .window-close:hover {
	color: #000;
	text-decoration: none;
}

.window-menu-bar {
	border-radius: 0;
	border-left: 0;
	border-right: 0;

}



.username {
	display: inline-block;
	float: right;
}

.sync-icon {
	background: #00FF00;
	display: inline-block;
	border-radius: 100%;
}




.tree {
	margin-left: 1rem;
	font-size: 2rem;
}

.tree, .tree ul {
	list-style-type: none;
	/*margin-left: 1rem;*/
	padding: 0;
	position: relative;
	overflow: hidden;
}

.tree li {
  margin: 0;
  padding: 0 1.3rem;  
  position: relative;   
}
  
.tree li::before, .tree li::after {
  content: '';
  position: absolute;
  left: 0;
}

/* horizontal line on inner list itrems */
.tree li::before {
  border-top: 1px solid #999;
  top: 30px;
  width: 18px;
  height: 0;    
}

/* vertical line on list itrems */   
.tree li:after {
  border-left: 1px solid #999;
  height: 100%;
  width: 0px;
  top: -30px; 
}

/* lower line on list itrems from the first level because they don't have parents */
.tree > li::after {
  top: 30px;
}

/* hide line from the last of the first level list itrems */
.tree > li:last-child::after {
  display: none;
}





.review-timer {
	border: none;
	width: 3rem;
	float: left;
}

.review-timer-pause-button {
	float: left;
}

.review-screen-menu-right {
	float: right;
}

.cards {
	float: left;
}
.cards td, .cards th {
	padding: 0 1rem;
	text-align: center;
}

.question {
	display: block;
	font-size: 3rem;
	text-align: center;
	height: 12rem;
}

.show-answer-btn, .difficulty-buttons {
	float: right;
}

.deck-list {
	width: 100%;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}



.homescreen-search {
	padding: 1rem;
}



.stats-graph {
	width: 60%;
	height: 60%;
}

.deck-page-info {
	width: 20rem;
}


.deck-row {
	border: 1px solid #dddddd;
	overflow: auto;
	text-align: center;
}

.deck-square {
	border: 1px solid #dddddd;
	display: inline-block;
	height: 10rem;
	width: 10rem;
	margin: 1rem;
	text-align: center;
}

.all-cards-sidebar {
	width: 30%;
	display: inline-block;
	vertical-align: top;
}

.all-cards-main {
	display: inline-block;
	vertical-align: top;
}


.deck-stats {
	display: inline-block;
}

.deck-stat {
	display: block;
	font-size: 0.6rem;
	width: 1rem;
	height: 1rem;
	text-align: center;
	border: solid 1px #222;
	border-radius: 100%;
	margin: 0.1rem 0.1rem 0.1rem 0;
}


/*other icons*/

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('rembedded-opentype'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-stack, .icon-filter, .icon-tag, .icon-pencil {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-stack:before {
	content: "\e601";
}
.icon-filter:before {
	content: "\e602";
}
.icon-tag:before {
	content: "\e600";
}
.icon-pencil:before {
	content: "\e603";
}

.icon-stack, .icon-filter, .icon-tag {

	font-size: 2rem;
}

.icon-pencil, .icon-remove {
	font-size: 1rem;
	width: 1.5rem;
	height: 1.5rem;
	text-align: center;
	border: solid 1px #222;
	border-radius: 100%;
}